*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: orange;
}

.stopWatch{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 10rem;
font-size: 8rem;
}


#start{
    height: 50px;
    width: 90px;
    font-size: 2rem;
    margin: 50px;
    border: none;
    border-radius: 10px;
}

#stop{
    height: 50px;
    width: 90px;
    font-size: 2rem;
    margin: 10px;
    border: none;
    border-radius: 10px;
}

#reset{
    height: 50px;
    width: 90px;
    font-size: 2rem;
    margin: 50px;
    border: none;
    border-radius: 10px;
}